// Breakpoints
/* ===== == = === 20em (320px) === = == ===== */
$screen-xs: "(min-width: 20em)";
/* ===== == = === 37.5em (480px) === = == ===== */
$screen-xs-sm: "(min-width: 30em)";
/* ===== == = === 37.5em (600px) === = == ===== */
$screen-sm: "(min-width: 37.5em)";
/* ===== == = === 48em (768px) === = == ===== */
$screen-md: "(min-width: 48em)";
/* ===== == = === 56.25em (900px) === = == ===== */
$screen-md-lg: "(min-width: 56.25em)";
/* ===== == = === 68.75em (1100px) === = == ===== */
$screen-lg: "(min-width: 68.75em)";
/* ===== == = === 75em (1200px) === = == ===== */
$screen-lg-xl: "(min-width: 75em)";
/* ===== == = === 81.25em (1300px) === = == ===== */
$screen-xl: "(min-width: 81.25em)";
/* ===== == = === 100em (1600px) === = == ===== */
$screen-xl-xxl: "(min-width: 100em)";
/* ===== == = === 125em (2000px) === = == ===== */
$screen-xxl: "(min-width: 125em)";
/* ===== == = === 125em (2400px) === = == ===== */
$screen-xxxl: "(min-width: 150em)";


:root {
  // colors
  --white : #fff;
  --black : #000;

  // sizes
  --ratio: 1.2;
  --base-size: 1rem;

  --spacing-7xs: calc(var(--spacing-6xs) / var(--ratio));
  --spacing-6xs: calc(var(--spacing-5xs) / var(--ratio));
  --spacing-5xs: calc(var(--spacing-4xs) / var(--ratio));
  --spacing-4xs: calc(var(--spacing-3xs) / var(--ratio));
  --spacing-3xs: calc(var(--spacing-2xs) / var(--ratio));
  --spacing-2xs: calc(var(--spacing-xs) / var(--ratio));
  --spacing-xs: calc(var(--spacing-sm) / var(--ratio));
  --spacing-sm: calc(var(--base-size) / var(--ratio));

  --spacing-base: var(--base-size);

  --spacing-md: calc(var(--spacing-base) * var(--ratio));
  --spacing-lg: calc(var(--spacing-md) * var(--ratio));
  --spacing-xl: calc(var(--spacing-lg) * var(--ratio));
  --spacing-2xl: calc(var(--spacing-xl) * var(--ratio));
  --spacing-3xl: calc(var(--spacing-2xl) * var(--ratio));
  --spacing-4xl: calc(var(--spacing-3xl) * var(--ratio));
  --spacing-5xl: calc(var(--spacing-4xl) * var(--ratio));
  --spacing-6xl: calc(var(--spacing-5xl) * var(--ratio));
  --spacing-7xl: calc(var(--spacing-6xl) * var(--ratio));


  --letter-spacing-sm: 0.02em;
  --letter-spacing-base: 0.04em;

  --hover-transition: all 0.25s ease-in-out;
}
