// Breakpoints
/* ===== == = === 20em (320px) === = == ===== */
$screen-xs: "(min-width: 20em)";
/* ===== == = === 37.5em (480px) === = == ===== */
$screen-xs-sm: "(min-width: 30em)";
/* ===== == = === 37.5em (600px) === = == ===== */
$screen-sm: "(min-width: 37.5em)";
/* ===== == = === 42.75em (684px) === = == ===== */
$screen-sm-md: "(min-width: 42.75em )";
/* ===== == = === 48em (768px) === = == ===== */
$screen-md: "(min-width: 48em)";
/* ===== == = === 56.25em (900px) === = == ===== */
$screen-md-lg: "(min-width: 56.25em)";
/* ===== == = === 68.75em (1100px) === = == ===== */
$screen-lg: "(min-width: 68.75em)";
/* ===== == = === 75em (1200px) === = == ===== */
$screen-lg-xl: "(min-width: 75em)";
/* ===== == = === 81.25em (1300px) === = == ===== */
$screen-xl: "(min-width: 81.25em)";
/* ===== == = === 100em (1600px) === = == ===== */
$screen-xl-xxl: "(min-width: 100em)";
/* ===== == = === 125em (2000px) === = == ===== */
$screen-xxl: "(min-width: 125em)";
/* ===== == = === 125em (2400px) === = == ===== */
$screen-xxxl: "(min-width: 150em)";

:root {
  // colors
  --white: #fff;
  --black: #000;

  // sizes
  --ratio: 1.25;
  --base-size: 1rem;

  --spacing-sm-9: calc(var(--spacing-sm-8) / var(--ratio));
  --spacing-sm-8: calc(var(--spacing-sm-7) / var(--ratio));
  --spacing-sm-7: calc(var(--spacing-sm-6) / var(--ratio));
  --spacing-sm-6: calc(var(--spacing-sm-5) / var(--ratio));
  --spacing-sm-5: calc(var(--spacing-sm-4) / var(--ratio));
  --spacing-sm-4: calc(var(--spacing-sm-3) / var(--ratio));
  --spacing-sm-3: calc(var(--spacing-sm-2) / var(--ratio));
  --spacing-sm-2: calc(var(--spacing-sm-1) / var(--ratio));
  --spacing-sm-1: calc(var(--base-size) / var(--ratio));

  --spacing-base: var(--base-size);

  --spacing-lg-1: calc(var(--spacing-base) * var(--ratio));
  --spacing-lg-2: calc(var(--spacing-lg-1) * var(--ratio));
  --spacing-lg-3: calc(var(--spacing-lg-2) * var(--ratio));
  --spacing-lg-4: calc(var(--spacing-lg-3) * var(--ratio));
  --spacing-lg-5: calc(var(--spacing-lg-4) * var(--ratio));
  --spacing-lg-6: calc(var(--spacing-lg-5) * var(--ratio));
  --spacing-lg-7: calc(var(--spacing-lg-6) * var(--ratio));
  --spacing-lg-8: calc(var(--spacing-lg-7) * var(--ratio));
  --spacing-lg-9: calc(var(--spacing-lg-8) * var(--ratio));

  --line-height-sm: 1.1;
  --line-height-base: 1.4;
  --line-height-lg: 1.5;

  --letter-spacing-sm: 0.02em;
  --letter-spacing-base: 0.04em;

  --hover-transition: all 0.25s ease-in-out;
}
