.wp-block-post-title {
  // font-family: var(--font-heading);
}

.editor-styles-wrapper {
  // font-family: var(--font-paragraph);

  > * {
    max-width: 90%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}
