{% block html_head_container %}

{% include 'html-head.twig' %}

{% endblock %}

	<body class="{{body_class}} body" data-template="base.twig">

		<a class="skip-link screen-reader-text" href="#content">{{ _e( 'Skip to content') }}</a>

		{% include 'header.twig' %}

    <main id="content" role="main" class="siteMain">

			{% block content %}
				{{ post.content }}
			{% endblock %}

		</main>

		{% include 'footer.twig' %}

	</body>
</html>
