<header class="siteHeader" >

  {% if is_front_page %}
    <h1 class="siteHeader__logo">
      Here the svg logo
      <span class="screen-reader-text">{{site.title}}</span>
    </h1>
  {% else %}
    <a href="{{site.url}}" rel="home" class="siteHeader__logo">
      Here the svg logo
      <span class="screen-reader-text">{{site.title}}</span>
    </a>
  {% endif %}

</header>
