{% extends "base.twig" %}

{% block content %}

	<div class="{{ post.post_type }}">

		<h1 class="single__title">{{ post.title }}</h1>
		<div class="single__content">
			{{post.content}}
		</div>

	</div>

{% endblock %}
