pre.xdebug-var-dump {
  overflow: visible;
  position: relative;
  z-index: 999;

  //   remove path
  small:first-child {
    display: none;
  }

  > * {
    position: relative;
    z-index: 999;
  }
}